root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.fs]
indent_style = space
indent_size = 4

[*.json]
indent_style = tab

# For XML web.config files
[web.config]
indent_style = tab
